/* Write your CSS here */
.bg-container {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-image: linear-gradient(to Bottom, #ff6e7f, #bfe9ff);
  height: 400px;
  width: 400px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-weight: 300px;
}
.text {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
}
.button {
  color: #1e293b;
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 10px;
}
